<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Insurance Application", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                @if (User.IsInRole("Customer"))
                {
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "InsuranceClaim")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Claims <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("My Claims", "InsuranceClaims", "Me")</li>
                            <li>@Html.ActionLink("Create", "Create", "InsuranceClaim")</li>
                        </ul>
                    </li>
                }
                @if (User.IsInRole("Agent") || User.IsInRole("Manager"))
                {
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "InsuranceClaim")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Claims <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("List", "List", "InsuranceClaim")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Customer")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("List", "Index", "Customer")</li>
                            <li>@Html.ActionLink("Create", "Create", "Customer")</li>
                        </ul>
                    </li>
                }

                @if (User.IsInRole("Manager"))
                {
                    <li class="dropdown">
                        <a href="@Url.Action("Index", "Agent")" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agents <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("List", "Index", "Agent")</li>
                            <li>@Html.ActionLink("Create", "Create", "Agent")</li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>